body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.parc1 {
    width: fit-content;
    height: fit-content;
    margin: auto auto;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;

    $w: 400px;

    &__img {
        width: $w;

    }

    &__range {
        width: $w;

    }
}